body{
    background-color: #F0F4F5;
    padding: 0;
    margin: 0;
}

.NHS-Bar{
    background-color: #005EB8;
    margin: 0 0;
    padding: 10px 100px;
}

section{
    background-color: #FFFFFF;
    margin: 10px 50px;
    padding: 10px 50px;
    border-radius: 20px;
}

h1{
    padding: 0 0;
    margin: 0 0;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 700;
    font-size: xx-large;
}

h2{
    padding: 0 0;
    margin: 0 0;
    color: #231F20;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 700;
    font-size: x-large;
}

p{
    color: #231F20;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: normal; 
}

.Pager-Bar{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.header-flex-container{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: X-large;
    justify-content: space-between;
}

#logo{
    max-width: 50%;
    max-height: 100px;
}

#clock{
    padding-top: 50px;
}

.index-text{
    text-align: center;
    color: black;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 70%;
}

.right-container {
    width: 30%;
}

.flex-container section{
    margin: 10px 10px;
}

.primary_table{
    justify-items: stretch;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: auto;
    margin: auto;
}

.primary_content{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
}

.header_cell{
    padding: 15px;
}

.row_cell{
    padding: 15px;
}